#main {
   margin:0 auto;
   width:1024px;
}

#top {
   width:1024px;
   height:120px;
   background-color:#bad1e4;
   font-size:100px;
   color:#84add0;
   text-align:center;
}

#leftMenu {
   width:190px;
   min-height:650px;
   background-color:#f1f1f1;
   float:left;
   font-size:20px;
   padding:10px;

}

#content {
   width:790px;
   min-height:650px;
   margin-left:210px;
   padding:10px;
   border:2px solid;
}



a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

#task {
    width:500px;
    height:150px;
}

